.container {
    margin: auto;
    max-width: 1200px;
    max-height: 100px;
    font-family: 'Brush Script MT', cursive;
    background-color: #000000;
    text-align: center;
    padding: 20px;
  }

  .heading {
    color: rgb(255, 0, 0);
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: rgb(255, 0, 0);
  }